@import '../../../assets/styles/colors';

header {
	background: #777;
	width: 100%;
	nav {
		display: flex;
		align-items: center;
		align-items: stretch;
		padding: 20px 10px;
		a {
			flex: 2;
			color: #fff;
			text-align: center;
			font-size: 16px;
			&.active {
				color: $secondary;
			}
		}
	}
}