$primary: #009688;
$primary-light: #52c7b8;
$primary-dark: #00675b;

$secondary: #fdd835;
$secondary-light: #ffff6b;
$secondary-dark: #c6a700;

$base-dark: #E1E2E1;
$base-light: #F5F5F6;

$alert: #f44336;
$alert-light: #ff7961;
$alert-dark: #ba000d;

$valid: #00e676;
$valid-light: #66ffa6;
$valid-dark: #00b248;